*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,body{
  background-color: #2898ec;
  min-height: 100vh;
  /* min-height: -webkit-fill-available; */
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar{
  width:20%;
  /* background-color: #a0a0a0; */
  background-color: #2898ec;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container{
  display: flex;
  justify-content: center;
}
.image-container > img{
  color: #fff;
}

.intro-container{
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.intro-container > div > h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 2.5vw;
  text-align: center;
}

.react-chatbot-kit-chat-container {
  min-width: 80%;
  min-height: 100vh;
  border-radius: 0px;
}

.react-chatbot-kit-chat-inner-container{
  height: 93vh;
  margin-bottom: 0px;
}


.react-chatbot-kit-chat-header{
  min-height: 10vh;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 3.5vh;
  border-radius: 0px;
  /* color:  */
}

.react-chatbot-kit-chat-message-container{
  height: 85vh;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.react-chatbot-kit-chat-bot-message-container,.react-chatbot-kit-user-chat-message-container{
  padding: 0px 10px;
}

.react-chatbot-kit-chat-bot-message,.react-chatbot-kit-user-chat-message{
  max-width: 60%;
}

.react-chatbot-kit-chat-bot-message{
  margin-left: 0px;
}

.react-chatbot-kit-chat-input-form{
  min-height: 8vh;
}

.react-chatbot-kit-chat-input{
  font-size: 2.5vh;
  border-radius: 0px;
}
.react-chatbot-kit-chat-input:active{
  border-color: blue;
}

.react-chatbot-kit-chat-input-container{
  position: fixed;
  bottom: 0;
  width: 80%;
}

@media (max-width: 768px) {
  
  .sidebar{
    display: none;
  }

  .react-chatbot-kit-chat-container {
    min-width: 100%;
  }
  
  .react-chatbot-kit-chat-header{
    background-color: #2898ec;
    color: #fff;
    border-radius: 0px 0px 45px 45px;
    font-size: 3vh;
  }

  .react-chatbot-kit-chat-input{
    font-size: 2.6vh;
  }
  
  .react-chatbot-kit-chat-bot-message,.react-chatbot-kit-user-chat-message{
    font-size: 2.5vh;
  }

  .react-chatbot-kit-chat-input-container{
    width: 100%;
  }

}